In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.20.1'

In [90]:
df = pd.read_csv('2017.csv', delimiter=';', encoding='latin1', skiprows=1)

In [91]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2017,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000034079,18/01/2017,Despesa com pagamento de energia elétrica para...,97
1,2017,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/17,17/01/2017,Despesa com aluguel de imóvel para uso do escr...,6000
2,2017,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,744526352,18/01/2017,Despesa com pagamento de telefone celular para...,"418,04"
3,2017,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",13.419.034/0001-67,e-Destinos.com.br,2LLTII,23/01/2017,"Companhia Aérea: LATAM, Localizador: 2LLTII. P...","1958,95"
4,2017,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,2QXSBC,24/01/2017,"Companhia Aérea: LATAM, Localizador: 2QXSBC. P...","1178,67"

In [92]:
df.describe()

           ANO           MES
count  18257.0  18257.000000
mean    2017.0      4.883223
std        0.0      2.331681
min     2017.0      1.000000
25%     2017.0      3.000000
50%     2017.0      5.000000
75%     2017.0      7.000000
max     2017.0      9.000000

In [93]:
df.shape

(18257, 10)

In [94]:
df[df['DATA'].str[-4:] == '0217']

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
17901,2017,3,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,3WI7U2,13/02/0217,"Companhia Aérea: LATAM, Localizador: 3WI7U2. P...","430,51"

In [95]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.')
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])
df.loc[df['DATA'] == '02/03/0201', 'DATA'] = '02/03/2017'
df.loc[df['DATA'] == '13/02/0217', 'DATA'] = '13/02/2017'

In [96]:
df['DATA'] = pd.to_datetime(df['DATA'])

In [97]:
df.dtypes

ANO                           int64
MES                           int64
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
dtype: object

In [98]:
df['TIPO_DESPESA'].unique()

array([ 'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Divulgação da atividade parlamentar',
       'Serviços de Segurança Privada',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar'], dtype=object)

In [99]:
df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map(
    {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel', 
    'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Despesas gerais', 
    'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratação', 
    'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Locomoção, hospedagem e alimentação',
    'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagens', 
    'Divulgação da atividade parlamentar': 'Divulgação',
    'Serviços de Segurança Privada': 'Segurança'}
)

In [100]:
df['TIPO_DESPESA'].unique()

array(['Aluguel', 'Passagens', 'Locomoção, hospedagem e alimentação',
       'Despesas gerais', 'Divulgação', 'Segurança', 'Contratação'], dtype=object)

In [102]:
df.to_csv('2017_dados_limpos.csv', index=False, encoding='latin1')